@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.root {
  isolation: isolate;
}

body {
  @apply m-0;
  font-family: "Geist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Geist", sans-serif;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

@theme {
    --color-muted-foreground: oklch(.64 .01 85);
}